body {
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    color: #333;
}

header {
    background-color: rgb(241, 235, 244);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

#search-box {
    width: 100%; /* Задаем ширину 100% */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

.service-item {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 25px;
    background-color: rgb(241, 235, 244);
}

.service-item h3 {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.2em;
}

#lang-switch{
    font-size: 1em;
}

.date {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: gray
}

.tag {
    display: inline-block;
    background-color: #bdbce9;
    color: #fff;
    border-radius: 3px;
    padding: 2px 7px;
    margin: 2px;
    cursor: pointer;
}

#services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    width: 300px;
    margin-right: 15px;
}

footer {
    background-color: rgb(241, 235, 244);
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    max-width: 1200px;
    border-radius: 10px;
}

footer a {
    margin: 0 10px;
    color: #333;
    padding: 5px;
}

@media screen and (max-width: 640px) {
    .service-item {
        width: 100%;
        margin-right: 0;
    }

    #header{
        font-size: 1.5em;
    }
}