:root {
/* Dark Theme Colors */
    --background-color: #1a1b1e;
    --text-color: #f5f5f5;
    --link-color: #4a90e2;
    --header-bg-color: #26272b;
    --service-item-bg-color: #2f3035;
    --service-item-border-color: #ddd2;
    --button-bg-color: #3b3c40;
    --button-text-color: #f5f5f5;
    --tag-bg-color: #7b769e;
    --tag-text-color: #e1e1e1;
    --aw-club-color: #a449ee;
    --autocomplete-item-text-color: #e1e1e1;
    --autocomplete-item-bg-color: #6d609d;
    --autocomplete-item-text-color-hover: #fff;
    --autocomplete-item-bg-color-hover: #524980;
    --autocomplete-item-text-color-active: #e1e1e1;
    --autocomplete-item-bg-color-active: #423465;
    --reset-btn-bg-color: rgba(158, 98, 208, 0.7);
    --reset-btn-text-color: #d2d2d2;
}

/* Light Theme Colors */
[data-theme="light"] {
    --background-color: #fff;
    --text-color: #333;
    --link-color: #1a73e8;
    --header-bg-color: #f1ebf4;
    --service-item-bg-color: #f1ebf4;
    --service-item-border-color: #ddd;
    --button-bg-color: #e2e2e2;
    --button-text-color: #333;
    --tag-bg-color: #9c94d3;
    --tag-text-color: #fff;
    --aw-club-color: #7e34bb;
    --autocomplete-item-text-color: #e1e1e1;
    --autocomplete-item-bg-color: #9c94d3;
    --autocomplete-item-text-color-hover: #fff;
    --autocomplete-item-bg-color-hover: #524980;
    --autocomplete-item-text-color-active: #e1e1e1;
    --autocomplete-item-bg-color-active: #423465;
    --reset-btn-bg-color: rgba(102, 50, 136, 0.7);
    --reset-btn-text-color: #f3e7e7;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    background-image: url('./images/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background-color 0.3s, color 0.3s;
}

header {
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto 0px auto;
    transition: background-color 0.3s;
}

.header-container {
    background-color: var(--header-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.title-container {
    display: flex;
    align-items: center;
    text-align: left;
}

.title-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.title-container #header {
    margin: 0 0 0 5px;
}

#podcast-name {
    white-space: nowrap;
    color: var(--text-color);;
    border-bottom: 3px dotted var(--text-color);;
    transition: 0.3s;
}

#podcast-name:hover {
    text-decoration: none;
    color: var(--aw-club-color);
    border-bottom-color: var(--aw-club-color);
}

#aw-club {
    white-space: nowrap;
    color: var(--aw-club-color);
    text-decoration: none;
    transition: color 0.3s;
    margin-left: 3px;
    font-size: 0.5em;
    font-style: italic;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.search-container {
    position: relative;
    display: block;
    padding: 0;
}

.text-input {
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(241, 235, 244);
    border: 1px solid #ddd;
    border-radius: 10px;
}

.text-input:focus {
    outline: none;
}

#search-box {
    width: 100%;
    margin: 10px auto;
}

#clean-search {
    position: absolute;
    right: 20px;
    top: 28px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    color: #555;
    font-size: 2em;
    font-weight: bold;
}

.service-item {
    position: relative;
    border: 1px solid var(--service-item-border-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px 25px 25px 25px;
    background-color: var(--service-item-bg-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

.service-item h3 {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.2em;
    display: inline-block;
}

.date {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgb(128, 128, 128)
}
/* Style the input and autocomplete container */
.autocomplete {
    position: relative;
    display: inline-block;
}

/* Style the items (options) */
.autocomplete-items {
    position: absolute;
    box-sizing: border-box;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
    color: var(--autocomplete-item-text-color);
    background-color: var(--autocomplete-item-bg-color);
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:hover {
    background-color: var(--autocomplete-item-bg-color-hover);
    color: var(--autocomplete-item-text-color-hover);
}

/* When navigating through the items using the arrow keys */
.autocomplete-active {
    background-color: var(--autocomplete-item-bg-color-active) !important;
    color: var(--autocomplete-item-text-color-active);
}


#selected-tags {
    display: inline-block;
    margin: 6px 0 6px 10px;
}

#reset-button {  
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: var(--reset-btn-bg-color);
    color: var(--reset-btn-text-color);
    padding: 5px;
}

.tag {
    display: inline-block;
    background-color: var(--tag-bg-color);
    color: var(--tag-text-color);
    font-size: 1em;
    border-radius: 3px;
    padding: 2px 7px;
    margin: 2px 6px 2px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    width: 300px;
}

footer {
    padding: 10px;
    text-align: center;
    margin: 0px auto 10px auto;
    max-width: 1200px;
}

footer div {
    background-color: rgb(241, 235, 244);
    border-radius: 10px;
    padding: 5px 10px;
}

footer a {
    margin: 0 10px;
    color: #333;
    padding: 5px;
    display: inline-block;
}

.settings-menu {
    position: relative;
    display: inline-block;
}

.settings-content {
    display: none;
    position: absolute;
    background-color: var(--button-bg-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 5px;
    padding: 10px;
    top: 100%;
    transition: all 0.3s ease-in-out;
}

.settings-content button {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1em;
    cursor: pointer;
}

.settings-content button:hover {
    border-left: 4px solid var(--link-color);
}

#settings-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    width: 150px;
    text-align: right;
}

.settings-menu:hover .settings-content {
    display: block;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 640px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .settings-menu {
        position: absolute;
        display: inline-block;
        top: 9px;
        right: 4px;
    }

    .service-item {
        width: 100%;
    }

    #header{
        font-size: 1.5em;
    }

    .title-container img {
        width: 55px;
        height: 55px;
    }

    #podcast-name {
        border-bottom-width: 2px;
    }

    #aw-club {
        font-size: 0.7em;
    }

    #settings-button {
        width: 80px;
    }

    .search-container {
        padding: 0 10px;
    }
}